@* Gets One Realtor by Id
* RealtorService that inherit from IRealtor.
* Started this just to test
* @ Author: Rebecka 2024-04-25
*@

@using System.Text.Json
@using FribergHomes.Client.Services.Interfaces;
@inject IRealtor realtorService

<h3>@realtorDto.FullName <img src="@realtorDto.AgencyLogo" width="50" /></h3>
<img src="@realtorDto.Picture" width="300" />
<p>Email: @realtorDto.Email</p>
<p>Telefon: @realtorDto.PhoneNumber</p>
<p>Anställd på @realtorDto.AgencyName</p>

<h4>Mina hus:</h4>

@* <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Bild</th>
            <th>Biarea</th>
            <th>Utropspris</th>
            <th>Pris</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salesObjects in realtorDto.SalesObjects)
        {
            <tr>
                <td>@salesObjects.Id</td>
                <td>@salesObjects.Adress</td>
                <td><img src="@salesObjects.ImageLinks" width="100" /></td>
                <td>@salesObjects.AncillaryArea</td>
                <td>@salesObjects.ListingPrice</td>
                <td>@salesObjects.CurrentPrice</td>
            </tr>
        }
    </tbody>
</table> *@





@code {
    [Parameter]
    public int Id { get; set; }


    private RealtorDTO realtorDto;

    protected override async Task OnInitializedAsync()
    {
        realtorDto = await realtorService.GetRealtorByIdAsync(Id);
    }
}
