@using FribergHomes.Client.Authentications
@using FribergHomes.Client.Services.Interfaces
@using Microsoft.AspNetCore.Authorization

@page "/agencyprofile"

@inject IAuthService authService
@inject IAgencyService agencyService
@attribute [Authorize(Roles = "Admin")]

<h1>@Agency.Name</h1>
<div class="text-center">
<img src="@Agency.Logo" width="300" />
<div style="border: 1px solid #2A432B; background-color: #F2FADC" class="m-2 p-2 shadow">
<p>@Agency.Presentation</p>
</div>
<EditButton TargetObject="Agency" />
</div>
<hr />

<h4>Anställda</h4>
<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Bild</th>
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in AgencyRealtors)
        {
            <tr>
                <td>@r.FullName</td>
                <td><img src="@r.Picture" width="100" /></td>
                <td>@r.Email</td>
                <td>@r.PhoneNumber</td>
                <td>
                    <EditButton TargetObject="r" />

                    <a href="/delete/Realtor/@r.Id">
                        Ta Bort Mäklare
                    </a>

                    <a href="/info/Realtor/@r.Id">
                        Kolla Mäklare
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h4>Annonser</h4>
<table class="table">
    <thead>
        <tr>
            <th>Kommun</th>
            <th>Adress</th>
            <th>Bild</th>
            <th>Försäljnings Pris</th>
            <th>Mäklare</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var so in SaleObjects)
        {
            <tr>
                <td>@so.CountyName</td>
                <td>@so.Adress</td>
                <td>
                    @foreach (var pic in so.ImageLinks)
                    {
                        <img src="@pic" width="50" />
                    }
                </td>
                <td>@so.CurrentPrice</td>
                <td>@so.RealtorName</td>
                <td>
                    <EditButton TargetObject="so" />

                    <a href="/delete/SalesObject/@so.Id">
                        Ta Bort Annons
                    </a>

                    <a href="/info/SalesObject/@so.Id">
                        Kolla Annons
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private AuthenticationState authState;
    private AgencyDTO Agency { get; set; }
    private List<RealtorDTO> AgencyRealtors;
    private List<SalesObjectDTO> SaleObjects;
    private string email;

    protected override async Task OnInitializedAsync()
    {
        authState = await authService.CheckAuthState(); // Hämtar inloggade-realtor
        email = authState.User.Identity.Name; // hämtar inloggade email
        Agency = await agencyService.GetAgencyByRealtorEmailAsync(email);
        AgencyRealtors = await agencyService.GetRealtorsAtAgency(Agency.Id);
        SaleObjects = await agencyService.GetSaleObjectsAtAgencyAsync(Agency.Id);
        StateHasChanged();
    }
}
