@* DeletePage for choosen object
Author: Reb 2024-05-01
Update: När en mäklare raderas måste salesobjekt gå till ny mäklare / Reb 2024-05-17*@
@page "/delete/{ObjectType}/{ObjectStringId}"
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.Components
@inject IRealtor realtorService
@inject ICategory categoryService
@* @inject ICounty countyService *@
@inject IAgencyService agencyService
@inject ISalesObject salesService
@inject NavigationManager NavigationManager


@if (isDeleted)
{
    <Alert Color="AlertColor.Success"> Borttagning Lyckades! </Alert>
}
else
{
    if (ObjectToShow != null)
    {
        <h2 class="text-danger">Är du säker på att du vill radera detta objekt?</h2>

        <div class="card shadow">
            @if (ObjectToShow is RealtorDTO realtor)
            {
                <h3>@realtor.FullName</h3>
                <img src="@realtor.Picture" width="200" />
                <p>@realtor.Email</p>

                @if (!changeRealtor)
                {
                    <form @onsubmit="YesDelete">
                        <button class="btn-primary" type="submit">Ja, ta bort!</button>
                    </form>

                    <form @onsubmit="NoCancel">
                        <button class="btn-danger" type="submit">Nej, avbryt!</button>
                    </form>
                }
                else
                {
                    @if(error != null)
                    {
                        <p>@error</p>
                    }
                    <form @onsubmit="ChooseRealtor">
                        <p>Vilken mäklare vill du ska ta över alla @realtor.FullName annonser?</p>
                        <select @bind="NewRealtorId">
                            <option value="">Välj en mäklare</option>
                            @foreach (var r in Realtors)
                            {
                                if(r.Id != realtor.Id)
                                {
                                <option value="@r.Id">@r.FullName</option>
                                }
                            }
                        </select>
                        <button type="submit">Välj</button>
                    </form>
                    @if (deleteAndChange)
                    {
                        <form @onsubmit="DeleteAndChangeRealtor">
                            <button class="btn-primary mb-3" type="submit">Byt och Ta Bort</button>
                    </form>
                    }
                }
            }
            else if (ObjectToShow is SalesObjectDTO salesObject)
            {
                <h3>@salesObject.CategoryName - @salesObject.Id</h3>
                <h3>@salesObject.Adress</h3>
                foreach (var picture in salesObject.ImageLinks)
                {
                    <img src="@picture" width="100" />
                }

            }
            else if (ObjectToShow is AgencyDTO agency)
            {
                <h2>@agency.Name - #@agency.Id</h2>
                <img src="@agency.Logo" width="300" />
            }
            else if (ObjectToShow is CategoryDTO category)
            {
                <h2>@category.Name - @category.Id</h2>
                <div>@((MarkupString)category.IconUrl)</div>

            }
        </div>

        <div class="m-3">
        @if (!(ObjectToShow is RealtorDTO))
        {
            <form @onsubmit="YesDelete">
                <button class="btn-primary" type="submit">Ja, ta bort!</button>
            </form>

            <form @onsubmit="NoCancel">
                <button class="btn-danger" type="submit">Nej, avbryt!</button>
            </form>
        }
        </div>
    }
}

@code {

    [Parameter]
    public string? ObjectType { get; set; }

    [Parameter]
    public string ObjectStringId { get; set; }

    public int ObjectId { get; set; }
    public object? ObjectToShow { get; set; }

    public bool isDeleted = false;
    public string? NewRealtorId { get; set; }
    public List<RealtorDTO> Realtors;
    public RealtorDTO RealtorDto;
    public bool changeRealtor = false;
    public bool deleteAndChange = false;
    public string error;

    private async Task GetObject()
    {
        if (ObjectType == "Realtor")
        {
            ObjectToShow = await realtorService.GetRealtorByIdAsync(ObjectStringId);
            StateHasChanged();
            RealtorDto = (RealtorDTO)ObjectToShow;
            StateHasChanged();
            Realtors = await agencyService.GetRealtorsAtAgency(RealtorDto.AgencyId);
            StateHasChanged();
        }
        else if (ObjectType == "SalesObject")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);
            ObjectToShow = await salesService.Get(ObjectId);
        }
        else if (ObjectType == "Category")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);
            ObjectToShow = await categoryService.GetCategoryByIdAsync(ObjectId);
        }
        // else if (ObjectType == "County")
        //     ObjectToShow = await countyService.GetCountyByIdAsync(ObjectId);
        else if (ObjectType == "Agency")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);
            ObjectToShow = await agencyService.GetAgencyByIdAsync(ObjectId);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // ObjectId = Convert.ToInt16(ObjectStringId);
        await GetObject();
    }

    private async void ChooseRealtor()
    {
        if (NewRealtorId != null)
        {
            deleteAndChange = true;
        }
        else
        {
            error = "Du måste välja en ny mäklare";
        }
    }

    private async void DeleteAndChangeRealtor()
    {

        await realtorService.DeleteRealtorAsync(ObjectStringId, NewRealtorId);
        isDeleted = true;
        StateHasChanged();
    }

    private async void YesDelete()
    {
        if (ObjectType == "Realtor")
        {
            changeRealtor = true;
        }
        else if (ObjectType == "SalesObject")
        {
            await salesService.Delete(ObjectId);
            isDeleted = true;
        }
        else if (ObjectType == "Category")
        {
            isDeleted = true;
            await categoryService.DeleteCategoryAsync(ObjectId);
        }
        else if (ObjectType == "Agency")
        {
            isDeleted = true;
            await agencyService.DeleteAgencyAsync(ObjectId);
        }

        StateHasChanged();

    }

    private async void NoCancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
            @*else if (ObjectToShow is CountyDTO county)
               {
                 <h2>@county.Name - #@county.Id</h2>
                 } 
                         // else if (ObjectType == "County")
        //     await countyService.DeleteCountyAsync(ObjectId);
                 *@
