@using FribergHomes.Client.Authentications
@using Microsoft.AspNetCore.Authorization
@using FribergHomes.Client.Services.Interfaces

@* Author: Tobias 2024-05-02 *@
@* Update: Injected AuthService to retrieve Realtor name / Tobias 2024-05-18 *@
@*Update: Nu kan man editera allt och man får upp Alert-box som säger att det funkade / Reb 2024-05-19 *@
@* Update: La till validering för realtor och salesobject /Sanna *@
@*Update: Frontend / reb *@

@page "/edit/{objecttype}/{id}"
@attribute [Authorize(Roles = "Admin, Realtor")]

@inject NavigationManager NavMan
@inject ISalesObject SalesObjectService
@inject IRealtor RealtorService
@inject IAgencyService AgencyService
@inject ICounty CountyService
@inject ICategory CategoryService
@inject IAuthService AuthService


@if (isEdited)
{
    <Alert Color="AlertColor.Success"> Ändringen Lyckades! </Alert>
}
else
{
    @if (ObjectType == "salesobject")
    {
        if (SalesObject == null)
        {
            <p>Laddar försäljningsobjekt...</p>
        }
        else
        {

            <h3>Ändra försäljningsobjekt</h3>

            <span>Skapad: @SalesObject.CreationDate @SalesObject.CreatorName</span>
            <br />
            @if (SalesObject.ChangeDate != null)
            {
                <span class="info">Ändrad: @SalesObject.ChangeDate @SalesObject.ChangeName</span>
            }
            <EditForm Model="SalesObject" OnValidSubmit="Submit" FormName="SalesObjectForm">
                <DataAnnotationsValidator />


                <div class="row justify-content-center pb-3 pt-4">
                    <div class="col-md-4">
                        <section>

                            <div class="form-floating mb-3">

                                <InputText @bind-Value="SalesObject!.Adress" class="form-control" />
                                <label class="form-label">
                                    Adress
                                </label>
                                <ValidationMessage For="@(() => SalesObject.Adress)" />
                            </div>
                            <div class="form-floating mb-3">

                                <InputText @bind-Value="SalesObject!.CountyName" readonly class="form-control" />
                                <label class="form-label">
                                    Kommun
                                </label>
                                <ValidationMessage For="@(() => SalesObject.CountyName)" />
                            </div>

                            <div class="form-floating mb-3">

                                <InputNumber @bind-Value="SalesObject!.CurrentPrice" class="form-control" />
                                <label class="form-label">
                                    Pris
                                </label>
                                <ValidationMessage For="@(() => SalesObject.CurrentPrice)" />
                            </div>
                            <div class="form-floating mb-3">
                                @if (_category == "Hus" || _category == "Semesterhem")
                                {

                                    <InputNumber @bind-Value="SalesObject!.YearlyCost" class="form-control" />
                                    <label class="form-label">
                                        Driftkostnad (år)
                                    </label>
                                <ValidationMessage For="@(() => SalesObject.YearlyCost)" />
                                }
                                @if (_category == "Lägenhet" || _category == "Radhus")
                                {

                                    <InputNumber @bind-Value="SalesObject!.MonthlyFee" class="form-control" />
                                    <label class="form-label">
                                        Månadsavgift
                                    </label>
                                <ValidationMessage For="@(() => SalesObject.MonthlyFee)" />
                                }
                            </div>
                            <div class="form-floating mb-3">

                                <InputNumber @bind-Value="SalesObject!.BuildYear" class="form-control" />
                                <label class="form-label">
                                    Byggnationsår
                                </label>
                                <ValidationMessage For="@(() => SalesObject.BuildYear)" />
                            </div>

                            <div class="form-floating mb-3">

                                <InputNumber @bind-Value="SalesObject!.Rooms" class="form-control" />
                                <label class="form-label">
                                    Rum
                                </label>
                                <ValidationMessage For="@(() => SalesObject.Rooms)" />
                            </div>
                            <div class="form-floating mb-3">

                                <InputNumber @bind-Value="SalesObject!.LivingArea" class="form-control" />
                                <label class="form-label">
                                    Boarea
                                </label>
                                <ValidationMessage For="@(() => SalesObject.LivingArea)" />
                            </div>

                            @if (_category == "Hus" || _category == "Radhus" || _category == "Semesterhem")
                            {
                                <div class="form-floating mb-3">

                                    <InputNumber @bind-Value="SalesObject!.AncillaryArea" class="form-control" />
                                    <label class="form-label">
                                        Biarea
                                    </label>
                                    <ValidationMessage For="@(() => SalesObject.AncillaryArea)" />
                                </div>
                                <div class="form-floating mb-3">

                                    <InputNumber @bind-Value="SalesObject!.PlotArea" class="form-control" />
                                    <label class="form-label">
                                        Tomtarea
                                    </label>
                                    <ValidationMessage For="@(() => SalesObject.PlotArea)" />
                                </div>

                            }

                            @if (_category == "Lägenhet")
                            {
                                <div class="form-floating mb-3">

                                    <InputNumber @bind-Value="SalesObject!.Level" class="form-control" />
                                    <label class="form-label">
                                        Våning
                                    </label>
                                    <ValidationMessage For="@(() => SalesObject.Level)" />
                                </div>
                                <div class="form-floating mb-3">

                                    <InputSelect @bind-Value="SalesObject!.Lift" class="form-control">
                                        <option value="null">
                                            Hiss?
                                        </option>
                                        <option checked="@(SalesObject!.Lift == true)" value="true">
                                            Ja
                                        </option>
                                        <option checked="@(SalesObject!.Lift == false)" value="false">
                                            Nej
                                        </option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => SalesObject.Lift)" />
                                    <label class="form-label">
                                        Hiss
                                    </label>
                                </div>

                            }

                            <div class="form-floating mb-3">

                                <br />
                                <InputTextArea @bind-Value="SalesObject!.ObjectDescription" class="form-control" />
                                <label class="form-label">
                                    Objektbeskrivning
                                </label>
                                <ValidationMessage For="@(() => SalesObject.ObjectDescription)" />
                            </div>

                            @*Author Rebecka*@
                            <div>
                                <label>
                                    Bilder
                                    @foreach (var picture in SalesObject.ImageLinks)
                                    {
                                        <div style="border: 1px solid black; border-radius: 10px;" class="p-2 text-center mt-2 shadow">

                                            <img src="@picture" width="200" alt="Ogiltig bildlänk" class="mb-1 mx-2" />

                                            @if (!addPicture)
                                            {

                                                <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick="() => DeletePicture(SalesObject, picture)">Ta Bort</Button>

                                                <br />

                                            }

                                        </div>
                                    }
                                    @if (addPicture)
                                    {
                                        <label>
                                            Bildlänk:
                                            <input type="text" @bind="newPic" placeholder="Skriv in din bildlänk här" />

                                        </label>

                                        <Button Color="ButtonColor.Success" Size="Size.Small" @onclick="() => SaveAddedPic(SalesObject, newPic)">Lägg till</Button>
                                    }
                                    <br />
                                    <Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="AddPicture">Lägg till ny bild</Button>

                                </label>
                            </div>
                            @*Author Rebecka*@
                            <div class="">
                                <label>
                                    Visnings Datum:
                                    @foreach (var date in SalesObject.ViewingDates)
                                    {
                                        <div style="border: 1px solid black; border-radius: 10px;" class="p-2 text-center mt-2 shadow">

                                            <p>@date.ToString("yyyy-MM-dd")</p>

                                            @if (!addDate)
                                            {

                                                <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick="() => DeleteDate(SalesObject, date)">Ta Bort</Button>

                                                <br />

                                            }

                                        </div>
                                    }
                                    @if (addDate)
                                    {
                                        <label>
                                            Datum:
                                            <input type="date" @bind="newDate" />

                                        </label>
                                        <Button Color="ButtonColor.Success" Size="Size.Small" @onclick="() => SaveAddedDate(SalesObject, newDate)">Lägg till</Button>

                                    }
                                    <br />
                                    <Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="AddDate">Lägg till datum</Button>

                                </label>
                            </div>


                            <div class="mt-3">
                                <button type="submit" class="btn btn-success">Spara</button>

                                <AuthorizeView Context="a" Roles="Realtor">
                                    <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/realtorprofile"))">Avbryt</Button>
                                </AuthorizeView>

                                <AuthorizeView Context="b" Roles="Admin">
                                    <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                                </AuthorizeView>
                            </div>
                        </section>
                    </div>
                </div>

            </EditForm>

        }
    }

    @if (ObjectType == "realtor")
    {
        if (Realtor == null)
        {
            <p>Laddar mäklare...</p>
        }
        else
        {
            <div class="">
                <h3>Ändra mäklare</h3>

                <EditForm Model="Realtor" OnValidSubmit="Submit" FormName="RealtorForm">
                    <DataAnnotationsValidator />
                 @*    <ValidationSummary /> *@

                    <div class="row justify-content-center pb-3 pt-4">
                        <div class="col-md-4">
                            <section>

                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="Realtor!.FullName" class="form-control" />
                                    <label class="form-label">
                                        Namn
                                    </label>
                                    <ValidationMessage For="@(() => Realtor.FullName)" />
                                </div>

                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="Realtor!.Email" class="form-control" />
                                    <label class="form-label">
                                        Email
                                    </label>
                                    <ValidationMessage For="@(() => Realtor.Email)" />
                                </div>



                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="Realtor!.PhoneNumber" class="form-control" />
                                    <label class="form-label">
                                        Telefon
                                    </label>
                                    <ValidationMessage For="@(() => Realtor.PhoneNumber)" />
                                </div>

                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="Realtor!.Picture" onchange="@(() => UpdatePreview())" class="form-control" />
                                    <label class="form-label">
                                        Profilbild
                                    </label>
                                </div>

                                <div class="">
                                    <h5>Förhandsvisning av bild</h5>
                                    <div>
                                        <ProfilePicture Realtor="@Realtor" Size="ProfilePicture.PictureSize.Medium" />
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <button type="submit" class="btn btn-success mx-2">Spara</button>

                                    <AuthorizeView Context="a" Roles="Realtor">
                                        <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/realtorprofile"))">Avbryt</Button>
                                    </AuthorizeView>

                                    <AuthorizeView Context="b" Roles="Admin">
                                        <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                                    </AuthorizeView>
                                </div>

                            </section>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
    }

    @if (ObjectType == "agency")
    {
        <AuthorizeView Context="b" Roles="Admin">

            @if (Agency == null)
            {
                <p>Laddar mäklarbyrå...</p>
            }
            else
            {
                <h3>Ändra mäklarbyrå</h3>

                <EditForm Model="Agency" OnValidSubmit="Submit" FormName="AgencyForm">
                    <DataAnnotationsValidator />

                    <div class="row justify-content-center pb-3 pt-4">
                        <div class="col-md-4">
                            <section>

                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="Agency!.Name" class="form-control" />
                                    <label class="form-label">
                                        Namn
                                    </label>
                                </div>

                                <div class="form-floating mb-3">
                                    <br />

                                    <InputTextArea @bind-Value="Agency!.Presentation" class="form-control" />
                                    <label class="form-label">
                                        Presentation
                                    </label>
                                </div>

                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="Agency!.Logo" onchange="@(() => UpdatePreview())" class="form-control" />
                                    <label class="form-label">
                                        Logo
                                    </label>
                                </div>

                                <div class="">
                                    <h5>Logo preview</h5>
                                    <div>
                                        <img src="@Agency.Logo" width="250px" height="auto" />
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <button type="submit" class="btn btn-success">Spara</button>
                                    <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                                </div>

                            </section>
                        </div>
                    </div>
                </EditForm>
            }
        </AuthorizeView>
    }

    @if (ObjectType == "category") // TODO: Ta bort??
    {
        if (Category == null)
        {
            <p>Laddar kategori...</p>
        }
        else
        {
            <h3>Ändra kategori</h3>

            <EditForm Model="Category" OnValidSubmit="Submit" FormName="CategoryForm">
                <DataAnnotationsValidator />
                <div class="mt">
                    <label>
                        Namn
                        <InputText @bind-Value="Category!.Name" />
                    </label>
                </div>

                <div class="mt">
                    <label>
                        Ikon
                        @((MarkupString)Category.IconUrl)
                    </label>
                </div>

                <span>Välj ikon:</span>

                <div class="row icon-container">
                    @foreach (var icon in _categoryIconNames!)
                    {
                        <div class="">
                            @((MarkupString)icon)
                        </div>
                    }
                </div>

                <div class="fixed-small">
                    <button type="submit" class="btn btn-primary">Spara</button>
                </div>

            </EditForm>

        }
    }
}


