@using FribergHomes.Client.Authentications
@using Microsoft.AspNetCore.Authorization
@using FribergHomes.Client.Services.Interfaces

@* Author: Tobias 2024-05-02 *@
@* Update: Injected AuthService to retrieve Realtor name / Tobias 2024-05-18 *@
@page "/edit/{objecttype}/{StringId}"
@page "/edit/{objecttype}/{Id:int}"

@attribute [Authorize(Roles = "Admin, Realtor")]

@inject NavigationManager NavMan
@inject ISalesObject SalesObjectService
@inject IRealtor RealtorService
@inject IAgencyService AgencyService
@inject ICounty CountyService
@inject ICategory CategoryService
@inject IAuthService AuthService


<div class="content-frame">

    <div class="content-box">

        @if (ObjectType == "salesObject")
        {
            if (SalesObject == null)
            {
                <p>Laddar försäljningsobjekt...</p>
            }
            else
            {
                <h3>Ändra försäljningsobjekt</h3>

                <span>Skapad: @SalesObject.CreationDate @SalesObject.CreatorName</span>

                @if (SalesObject.ChangeDate != null)
                {
                    <span class="info">Ändrad: @SalesObject.ChangeDate @SalesObject.ChangeName</span>
                }


                <EditForm Model="SalesObject" OnValidSubmit="Submit" FormName="SalesObjectForm">
                    <DataAnnotationsValidator />

                    <div class="row">
                        <div class="fixed-large">
                            <label>
                                Adress
                                <InputText @bind-Value="SalesObject!.Adress" />
                            </label>
                        </div>
                        <div class="fixed-medium">
                            <label>
                                Kommun
                                <InputText @bind-Value="SalesObject!.CountyName" readonly />
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="fixed-medium">
                            <label>
                                Pris
                                <InputNumber @bind-Value="SalesObject!.CurrentPrice" />
                            </label>
                        </div>
                        <div class="fixed-medium">
                            @if (_category == "Hus" || _category == "Semesterhem")
                            {
                                <label>
                                    Driftkostnad (år)
                                    <InputNumber @bind-Value="SalesObject!.YearlyCost" />
                                </label>
                            }
                            @if (_category == "Lägenhet" || _category == "Radhus")
                            {
                                <label>
                                    Månadsavgift
                                    <InputNumber @bind-Value="SalesObject!.MonthlyFee" />
                                </label>
                            }
                        </div>
                        <div class="fixed-small">
                            <label>
                                Byggnationsår
                                <InputNumber @bind-Value="SalesObject!.BuildYear" />
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="fixed-digit">
                            <label>
                                Rum
                                <InputNumber @bind-Value="SalesObject!.Rooms" />
                            </label>
                        </div>
                        <div class="fixed-small">
                            <label>
                                Boarea
                                <InputNumber @bind-Value="SalesObject!.LivingArea" />
                            </label>
                        </div>

                        @if (_category == "Hus" || _category == "Radhus" || _category == "Semesterhem")
                        {
                            <div class="fixed-small">
                                <label>
                                    Biarea
                                    <InputNumber @bind-Value="SalesObject!.AncillaryArea" />
                                </label>
                            </div>
                            <div class="fixed-small">
                                <label>
                                    Tomtarea
                                    <InputNumber @bind-Value="SalesObject!.PlotArea" />
                                </label>
                            </div>

                        }

                        @if (_category == "Lägenhet")
                        {
                            <div class="fixed-small">
                                <label>
                                    Våning
                                    <InputNumber @bind-Value="SalesObject!.Level" />
                                </label>
                            </div>
                            <div class="fixed-small">
                                <label>
                                    Hiss
                                    <InputSelect @bind-Value="SalesObject!.Lift">
                                        <option value="null">
                                            Hiss?
                                        </option>
                                        <option checked="@(SalesObject!.Lift == true)" value="true">
                                            Ja
                                        </option>
                                        <option checked="@(SalesObject!.Lift == false)" value="false">
                                            Nej
                                        </option>
                                    </InputSelect>
                                </label>
                            </div>

                        }

                        <div class="row">
                            <div class="input-text">
                                <label>
                                    Objektbeskrivning
                                    <InputTextArea @bind-Value="SalesObject!.ObjectDescription" />
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="fixed-small">
                        <button type="submit" class="btn btn-primary">Spara</button>
                    </div>

                </EditForm>
            }
        }

        @if (ObjectType == "realtor")
        {
            if (Realtor == null)
            {
                <p>Laddar mäklare...</p>
            }
            else
            {
                <h3>Ändra mäklare</h3>

                <EditForm Model="Realtor" OnValidSubmit="Submit" FormName="RealtorForm">
                    <DataAnnotationsValidator />

                    <div class="row">
                        <div class="fixed-medium">
                            <label>
                                Namn
                                <InputText @bind-Value="Realtor!.FullName" />
                            </label>
                        </div>
                        <div class="fixed-large">
                            <label>
                                Email
                                <InputText @bind-Value="Realtor!.Email" />
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="fixed-medium">
                            <label>
                                Telefon
                                <InputText @bind-Value="Realtor!.PhoneNumber" />
                            </label>
                        </div>
                        <div class="fixed-large">
                            <label>
                                Profilbild
                                <InputText @bind-Value="Realtor!.Picture" onchange="@(() => UpdatePreview())" />
                            </label>
                        </div>
                    </div>

                    <div class="mt">
                        <span>Profile picture preview</span>
                        <img src="@Realtor.Picture" width="250px" height="auto" />
                    </div>

                    <div class="fixed-small">
                        <button type="submit" class="btn btn-primary">Spara</button>
                    </div>

                </EditForm>


            }
        }

        @if (ObjectType == "agency")
        {
            if (Agency == null)
            {
                <p>Laddar mäklarbyrå...</p>
            }
            else
            {
                <h3>Ändra mäklare</h3>

                <EditForm Model="Agency" OnValidSubmit="Submit" FormName="AgencyForm">
                    <DataAnnotationsValidator />
                    <div class="mt">
                        <label>
                            Namn
                            <InputText @bind-Value="Agency!.Name" />
                        </label>
                    </div>
                    <div class="mt">
                        <label>
                            Presentation
                            <InputTextArea @bind-Value="Agency!.Presentation" />
                        </label>
                    </div>
                    <div class="mt">
                        <label>
                            Logo
                            <InputText @bind-Value="Agency!.Logo" onchange="@(() => UpdatePreview())" />
                        </label>
                    </div>

                    <div class="mt">
                        <span>Logo preview</span>
                        <img src="@Agency.Logo" width="250px" height="auto" />
                    </div>

                    <div class="fixed-small">
                        <button type="submit" class="btn btn-primary">Spara</button>
                    </div>

                </EditForm>

            }
        }

        @if (ObjectType == "category")
        {
            if (Category == null)
            {
                <p>Laddar kategori...</p>
            }
            else
            {
                <h3>Ändra kategori</h3>

                <EditForm Model="Category" OnValidSubmit="Submit" FormName="CategoryForm">
                    <DataAnnotationsValidator />
                    <div class="mt">
                        <label>
                            Namn
                            <InputText @bind-Value="Category!.Name" />
                        </label>
                    </div>

                    <div class="mt">
                        <label>
                            Ikon
                        @((MarkupString)Category.IconUrl)
                        </label>
                    </div>

                    <span>Välj ikon:</span> 

                    <div class="row icon-container">
                        @foreach (var icon in _categoryIconNames!)
                        {
                            <div class="">
                                @((MarkupString)icon)
                            </div>
                        }
                    </div>

                    <div class="fixed-small">
                        <button type="submit" class="btn btn-primary">Spara</button>
                    </div>

                </EditForm>

            }
        }

    </div>
</div>

