@using FribergHomes.Client.Authentications
@using Microsoft.AspNetCore.Authorization
@using FribergHomes.Client.Services.Interfaces

@* Author: Tobias 2024-05-02 *@
@* Update: Injected AuthService to retrieve Realtor name / Tobias 2024-05-18 *@
@*Update: Nu kan man editera allt och man får upp Alert-box som säger att det funkade / Reb 2024-05-19 *@
@* Update: La till validering för realtor och salesobject /Sanna *@

@page "/edit/{objecttype}/{id}"
@attribute [Authorize(Roles = "Admin, Realtor")]

@inject NavigationManager NavMan
@inject ISalesObject SalesObjectService
@inject IRealtor RealtorService
@inject IAgencyService AgencyService
@inject ICounty CountyService
@inject ICategory CategoryService
@inject IAuthService AuthService


@if (isEdited)
{
    <Alert Color="AlertColor.Success"> Ändringen Lyckades! </Alert>
}
else
{
    @if (ObjectType == "salesobject")
    {
        if (SalesObject == null)
        {
            <p>Laddar försäljningsobjekt...</p>
        }
        else
        {

            <h3>Ändra försäljningsobjekt</h3>

            <span>Skapad: @SalesObject.CreationDate @SalesObject.CreatorName</span>
            <br />
            @if (SalesObject.ChangeDate != null)
            {
                <span class="info">Ändrad: @SalesObject.ChangeDate @SalesObject.ChangeName</span>
            }

            <div class="row">

                <EditForm Model="SalesObject" OnValidSubmit="Submit" FormName="SalesObjectForm">
                    <DataAnnotationsValidator />
            @*         <ValidationSummary/> *@

                   @*  <div class="col">
                        <div class="">
                            <label>
                                Adress
                                <InputText @bind-Value="SalesObject!.Adress" />
                            </label>
                        </div>
                        <div class="">
                            <label>
                                Kommun
                                <InputText @bind-Value="SalesObject!.CountyName" readonly />
                            </label>
                        </div>

                        <div class="">
                            <label>
                                Pris
                                <InputNumber @bind-Value="SalesObject!.CurrentPrice" />
                            </label>
                        </div>
                        <div class="">
                            @if (_category == "Hus" || _category == "Semesterhem")
                            {
                                <label>
                                    Driftkostnad (år)
                                    <InputNumber @bind-Value="SalesObject!.YearlyCost" />
                                </label>
                            }
                            @if (_category == "Lägenhet" || _category == "Radhus")
                            {
                                <label>
                                    Månadsavgift
                                    <InputNumber @bind-Value="SalesObject!.MonthlyFee" />
                                </label>
                            }
                        </div>
                        <div class="">
                            <label>
                                Byggnationsår
                                <InputNumber @bind-Value="SalesObject!.BuildYear" />
                            </label>
                        </div>

                        <div class="">
                            <label>
                                Rum
                                <InputNumber @bind-Value="SalesObject!.Rooms" />
                            </label>
                        </div>
                        <div class="">
                            <label>
                                Boarea
                                <InputNumber @bind-Value="SalesObject!.LivingArea" />
                            </label>
                        </div>

                        @if (_category == "Hus" || _category == "Radhus" || _category == "Semesterhem")
                        {
                            <div class="">
                                <label>
                                    Biarea
                                    <InputNumber @bind-Value="SalesObject!.AncillaryArea" />
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    Tomtarea
                                    <InputNumber @bind-Value="SalesObject!.PlotArea" />
                                </label>
                            </div>

                        }

                        @if (_category == "Lägenhet")
                        {
                            <div class="">
                                <label>
                                    Våning
                                    <InputNumber @bind-Value="SalesObject!.Level" />
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    Hiss
                                    <InputSelect @bind-Value="SalesObject!.Lift">
                                        <option value="null">
                                            Hiss?
                                        </option>
                                        <option checked="@(SalesObject!.Lift == true)" value="true">
                                            Ja
                                        </option>
                                        <option checked="@(SalesObject!.Lift == false)" value="false">
                                            Nej
                                        </option>
                                    </InputSelect>
                                </label>
                            </div>

                        }
                    </div>
                    <div class="col">
                        <div>
                            <div class="">
                                <label>
                                    Objektbeskrivning
                                    <br />
                                    <InputTextArea @bind-Value="SalesObject!.ObjectDescription" />
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success">Spara</button>

                        <AuthorizeView Context="a" Roles="Realtor">
                            <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/realtorprofile"))">Avbryt</Button>
                        </AuthorizeView>

                        <AuthorizeView Context="b" Roles="Admin">
                            <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                        </AuthorizeView>
                    </div>
                </EditForm>
            </div> *@

                    <div class="col">
                        <div class="">
                            <label>
                                Adress
                                <InputText @bind-Value="SalesObject!.Adress" />
                                <ValidationMessage For="@(() => SalesObject.Adress)" />
                            </label>
                        </div>
                        <div class="">
                            <label>
                                Kommun
                                <InputText @bind-Value="SalesObject!.CountyName" readonly />
                                <ValidationMessage For="@(() => SalesObject.CountyName)" />
                            </label>
                        </div>

                        <div class="">
                            <label>
                                Pris
                                <InputNumber @bind-Value="SalesObject!.CurrentPrice" />
                                <ValidationMessage For="@(() => SalesObject.CurrentPrice)" />
                            </label>
                        </div>
                        <div class="">
                            @if (_category == "Hus" || _category == "Semesterhem")
                            {
                                <label>
                                    Driftkostnad (år)
                                    <InputNumber @bind-Value="SalesObject!.YearlyCost" />
                                    <ValidationMessage For="@(() => SalesObject.YearlyCost)" />
                                </label>
                            }
                            @if (_category == "Lägenhet" || _category == "Radhus")
                            {
                                <label>
                                    Månadsavgift
                                    <InputNumber @bind-Value="SalesObject!.MonthlyFee" />
                                    <ValidationMessage For="@(() => SalesObject.MonthlyFee)" />
                                </label>
                            }
                        </div>
                        <div class="">
                            <label>
                                Byggnationsår
                                <InputNumber @bind-Value="SalesObject!.BuildYear" />
                                <ValidationMessage For="@(() => SalesObject.BuildYear)" />
                            </label>
                        </div>

                        <div class="">
                            <label>
                                Rum
                                <InputNumber @bind-Value="SalesObject!.Rooms" />
                                <ValidationMessage For="@(() => SalesObject.Rooms)" />
                            </label>
                        </div>
                        <div class="">
                            <label>
                                Boarea
                                <InputNumber @bind-Value="SalesObject!.LivingArea" />
                                <ValidationMessage For="@(() => SalesObject.LivingArea)" />
                            </label>
                        </div>

                        @if (_category == "Hus" || _category == "Radhus" || _category == "Semesterhem")
                        {
                            <div class="">
                                <label>
                                    Biarea
                                    <InputNumber @bind-Value="SalesObject!.AncillaryArea" />
                                    <ValidationMessage For="@(() => SalesObject.AncillaryArea)" />
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    Tomtarea
                                    <InputNumber @bind-Value="SalesObject!.PlotArea" />
                                    <ValidationMessage For="@(() => SalesObject.PlotArea)" />
                                </label>
                            </div>

                        }

                        @if (_category == "Lägenhet")
                        {
                            <div class="">
                                <label>
                                    Våning
                                    <InputNumber @bind-Value="SalesObject!.Level" />
                                    <ValidationMessage For="@(() => SalesObject.Level)" />
                                </label>
                            </div>
                            <div class="">
                                <label>
                                    Hiss
                                    <InputSelect @bind-Value="SalesObject!.Lift">
                                        <option value="null">Hiss?</option>
                                        <option checked="@(SalesObject!.Lift == true)" value="true">Ja</option>
                                        <option checked="@(SalesObject!.Lift == false)" value="false">Nej</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => SalesObject.Lift)" />
                                </label>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <div>
                            <div class="">
                                <label>
                                    Objektbeskrivning
                                    <br />
                                    <InputTextArea @bind-Value="SalesObject!.ObjectDescription" />
                                    <ValidationMessage For="@(() => SalesObject.ObjectDescription)" />
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success">Spara</button>

                        <AuthorizeView Context="a" Roles="Realtor">
                            <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/realtorprofile"))">Avbryt</Button>
                        </AuthorizeView>

                        <AuthorizeView Context="b" Roles="Admin">
                            <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                        </AuthorizeView>
                    </div>
                </EditForm>
            </div>

        }
    }

    @if (ObjectType == "realtor")
    {
        if (Realtor == null)
        {
            <p>Laddar mäklare...</p>
        }
        else
        {
            <div class="text-center">
                <h3>Ändra mäklare</h3>

                <EditForm Model="Realtor" OnValidSubmit="Submit" FormName="RealtorForm">
                    <DataAnnotationsValidator />
                 @*    <ValidationSummary /> *@

                    <div class="">
                        <div class="fixed-medium">
                            <label>
                                Namn
                                <InputText @bind-Value="Realtor!.FullName" />
                                <ValidationMessage For="@(() => Realtor.FullName)" />
                            </label>
                        </div>
                        <div class="fixed-large">
                            <label>
                                Email
                                <InputText @bind-Value="Realtor!.Email" />
                                <ValidationMessage For="@(() => Realtor.Email)" />
                            </label>
                        </div>
                    </div>

                    <div class="">
                        <div class="fixed-medium">
                            <label>
                                Telefon
                                <InputText @bind-Value="Realtor!.PhoneNumber" />
                                <ValidationMessage For="@(() => Realtor.PhoneNumber)" />
                            </label>
                        </div>
                        <div class="fixed-large">
                            <label>
                                Profilbild
                                <InputText @bind-Value="Realtor!.Picture" onchange="@(() => UpdatePreview())" />                              
                            </label>
                        </div>
                        <div class="">
                            <span>Förhandsvisning av bild</span>
                            @* <img src="@Realtor.Picture" width="250px" height="auto" /> *@
                            <ProfilePicture Realtor="@Realtor" Size="ProfilePicture.PictureSize.Medium" />
                        </div>
                    </div>

                    <div class="">
                        <button type="submit" class="btn btn-success">Spara</button>

                        <AuthorizeView Context="a" Roles="Realtor">
                            <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/realtorprofile"))">Avbryt</Button>
                        </AuthorizeView>

                        <AuthorizeView Context="b" Roles="Admin">
                            <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                        </AuthorizeView>
                    </div>
                </EditForm>

            </div>



        }
    }

    @if (ObjectType == "agency")
    {
        <AuthorizeView Context="b" Roles="Admin">

            @if (Agency == null)
            {
                <p>Laddar mäklarbyrå...</p>
            }
            else
            {
                <h3>Ändra mäklarbyrå</h3>

                <EditForm Model="Agency" OnValidSubmit="Submit" FormName="AgencyForm">
                    <DataAnnotationsValidator />
                    <div class="mt">
                        <label>
                            Namn
                            <InputText @bind-Value="Agency!.Name" />
                        </label>
                    </div>
                    <div class="mt">
                        <label>
                            Presentation
                            <InputTextArea @bind-Value="Agency!.Presentation" />
                        </label>
                    </div>
                    <div class="mt">
                        <label>
                            Logo
                            <InputText @bind-Value="Agency!.Logo" onchange="@(() => UpdatePreview())" />
                        </label>
                    </div>

                    <div class="">
                        <span>Logo preview</span>
                        <img src="@Agency.Logo" width="250px" height="auto" />
                    </div>

                    <div class="">
                        <button type="submit" class="btn btn-success">Spara</button>
                        <Button Color="ButtonColor.Secondary" @onclick="@(() => NavMan.NavigateTo("/agencyprofile"))">Avbryt</Button>
                    </div>

                </EditForm>
            }
        </AuthorizeView>
    }

    @if (ObjectType == "category") // TODO: Ta bort??
    {
        if (Category == null)
        {
            <p>Laddar kategori...</p>
        }
        else
        {
            <h3>Ändra kategori</h3>

            <EditForm Model="Category" OnValidSubmit="Submit" FormName="CategoryForm">
                <DataAnnotationsValidator />
                <div class="mt">
                    <label>
                        Namn
                        <InputText @bind-Value="Category!.Name" />
                    </label>
                </div>

                <div class="mt">
                    <label>
                        Ikon
                        @((MarkupString)Category.IconUrl)
                    </label>
                </div>

                <span>Välj ikon:</span>

                <div class="row icon-container">
                    @foreach (var icon in _categoryIconNames!)
                    {
                        <div class="">
                            @((MarkupString)icon)
                        </div>
                    }
                </div>

                <div class="fixed-small">
                    <button type="submit" class="btn btn-primary">Spara</button>
                </div>

            </EditForm>

        }
    }
}


