@* InfoPage that shows info about choosen object
* Author: Reb 2024-05-02
* Update: Finishing the re-navigations / Reb 2024-05-03
* Update: Divided "Kommande visningar" and "Sold" - depending on viewingdates / Reb 2024-05-06
* Update: småfix / Reb 2025-05-15
* Update: Changed realtor int id to string id / Sanna
* Update: fixa till frontend och navigation.refresh() / reb 2024-05-18
*
*@
@page "/info/{ObjectType}/{ObjectStringId}"
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.Components
@inject IRealtor realtorService
@inject ICategory categoryService
@inject ICounty countyService
@inject IAgencyService agencyService
@inject ISalesObject salesService
@inject NavigationManager NavigationManager


@if (ObjectToShow != null)
{
    <div class="text-center">
        @if (ObjectToShow is RealtorDTO realtor) @* Shows info of Realtor *@
        {
            <div class="card custom-card">
                <h2>
                    @realtor.FullName
                </h2>
                <div class="pictures">
                    <ProfilePicture Realtor="@realtor" Size="ProfilePicture.PictureSize.Medium" /> @* Tobias *@
                    @* <img src="@realtor.Picture" width="350" /> *@
                    <a href="/info/Agency/@realtor.AgencyId" @onclick="() => NavigateToAgency(realtor.AgencyId)"><img src="@realtor.AgencyLogo" width="100" class="logo" /></a>
                </div>
                <br />
                <p>Email: @realtor.Email</p>
                <p>Telefon: @realtor.PhoneNumber</p>
            </div>
            <Button Color="ButtonColor.Primary" @onclick="GetRealtorsSales">
                Hämta annonser
            </Button>

            @if (RealtorsSales != null)
            {
                <Button Color="ButtonColor.Secondary" @onclick="HideRealtorsSales">
                    Göm annonser
                </Button>

                <br />
                <h2>Mina Annonser</h2>
                <hr />
                foreach (var salesObject in RealtorsSales)
                {

                    <div class="shadow text-center card custom-card">


                        <h4>@salesObject.Adress - @salesObject.CountyName</h4>
                        @foreach (var picture in salesObject.ImageLinks)
                        {
                            <img src="@picture" width="150" />
                        }
                        @foreach (var date in salesObject.ViewingDates)
                        {
                            <strong>Visning: @date.ToString("yyy-MM-dd")</strong>

                        }
                        <Button Color="ButtonColor.Info">
                            <a href="/info/SalesObject/@salesObject.Id" @onclick="() => NavigateToSalesObject(salesObject.Id)">
                                Kolla Annons
                            </a>
                        </Button>


                    </div>

                }
            }
        }
        else if (ObjectToShow is SalesObjectDTO salesObject) @* Shows info of SalesObject *@
        {
            <h3>@salesObject.Adress - @salesObject.CountyName</h3>
            <br />
            foreach (var picture in salesObject.ImageLinks)
            {
                <img src="@picture" width="600" />
            }

            <br />
            <div class="better-background px-2 pt-2">

                <h4><strong>@salesObject.CategoryName</strong></h4>
                @if (salesObject.CurrentPrice < salesObject.ListingPrice)
                {
                    <Badge Color="BadgeColor.Dark">PSST....Sänkt pris</Badge>
                    <strong><del>@salesObject.ListingPrice kr</del></strong>
                    <h4> @salesObject.CurrentPrice kr</h4>
                }
                else
                {
                    <h4>@salesObject.CurrentPrice kr</h4>
                }

                <div>@((MarkupString)@salesObject.CategoryLogoUrl)</div>
                <p><strong>Rum: </strong>@salesObject.Rooms</p>
                <p><strong>Byggnadsår: </strong>@salesObject.BuildYear</p>
                <p><strong>Boarea: </strong>@salesObject.LivingArea m<sup>2</sup></p>
                @if (salesObject.AncillaryArea > 0)
                {
                    <p><strong>Biarea: </strong>@salesObject.AncillaryArea m<sup>2</sup></p>
                }
                @if (salesObject.CategoryName == "Lägenhet")
                {
                    <p><strong>Våning: </strong>@salesObject.Level</p>
                    if (salesObject.Lift == true)
                    {
                        <p><strong>Hiss: </strong>Ja</p>
                    }
                    else
                    {
                        <p><strong>Hiss: </strong>Nej</p>
                    }
                }
                else
                {
                    <p><strong>Tomtarea: </strong>@salesObject.PlotArea m<sup>2</sup></p>
                }
                @if (salesObject.YearlyCost > 0)
                {
                    <p><strong>Driftkostnad: </strong>@salesObject.YearlyCost kr</p>
                }
                @if (salesObject.MonthlyFee > 0)
                {
                    <p><strong>Månadsavgift: </strong>@salesObject.MonthlyFee kr</p>
                }
                <p>
                    <strong>Visningsdatum: </strong>
                    @foreach (var date in salesObject.ViewingDates)
                    {
                    <p>@date.ToString("yyy-MM-dd")</p>
                    }
                </p>
                <h4>Beskrivning:</h4>
                <p>@salesObject.ObjectDescription</p>
            </div>
            <div class="card custom-card">

                <h4>Mäklare</h4>

                <a href="/info/Realtor/@salesObject.RealtorId" @onclick="() => NavigateToRealtor(salesObject.RealtorId)">
                    <img src="@Realtor.Picture" width="200" class="realtor-pic" />
                </a>

                <a href="/info/Realtor/@salesObject.RealtorId" @onclick="() => NavigateToRealtor(salesObject.RealtorId)">
                    @salesObject.RealtorName
                </a>

                <strong>@Realtor.PhoneNumber</strong>

                <a href="/info/Agency/@salesObject.AgencyId" @onclick="() => NavigateToAgency(salesObject.AgencyId)">
                    <img src="@salesObject.AgencyLogoUrl" width="90" class="logo" />
                </a>

            </div>
        }
        else if (ObjectToShow is AgencyDTO agency) @* Shows info of Agency *@
        {
            <h2>@agency.Name</h2>
            <div class="text-center">
                <img src="@agency.Logo" width="300" />
                <div style="border: 1px solid #2A432B; background-color: #F2FADC" class="m-2 p-2 shadow">

                    <p>@agency.Presentation</p>
                </div>
            </div>
            <hr />

            <h4>Anställda</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Namn</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in AgencyRealtors)
                    {
                        <tr>
                            <td> <ProfilePicture Realtor="@r" Size="ProfilePicture.PictureSize.Small" /> </td> @* Tobias *@
                            <td>@r.FullName</td>
                            <td>@r.Email</td>
                            <td>@r.PhoneNumber</td>
                            <td>
                                <Button Color="ButtonColor.Info">
                                    <a href="/info/Realtor/@r.Id" @onclick="() => NavigateToRealtor(r.Id)" class="custom-link">Kolla Mäklare</a>
                                </Button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else if (ObjectToShow is CountyDTO county) @* Shows info of County *@
        {
            @if (county.Name != null)
            {
                CountyName = county.Name;
            }
            <h1>@county.Name</h1>

            <Button Color="ButtonColor.Info" @onclick="GetCountySales">
                Hämta annonser
            </Button>

            @if (CountiesSalesObjects != null)
            {
                if (CountiesSalesObjects.Count > 0)
                {
                    <Button Color="ButtonColor.Secondary" @onclick="HideCountySales">
                        Göm annonser
                    </Button>

                    foreach (var so in CountiesSalesObjects)
                    {
                        <h3>@so.Adress</h3>
                        foreach (var picture in so.ImageLinks)
                        {
                            <img src="@picture" width="200" />
                        }

                        <Button Color="ButtonColor.Info">
                            <a href="/info/SalesObject/@so.Id" @onclick="() => NavigateToSalesObject(so.Id)" class="custom-link">Kolla annons</a>
                        </Button>
                    }
                }
                else
                {
                    <p>@error</p>

                }
            }


        }
        else if (ObjectToShow is CategoryDTO category)
        @* Shows info of Category *@
        {
            <h2>@category.Name @((MarkupString)category.IconUrl)</h2>

            <h4>Annonser i denna kategori:</h4>
            @if (CategorySalesObjects != null)
            {
                if (CategorySalesObjects.Count > 0)
                {
                    foreach (var so in CategorySalesObjects)
                    {
                        <div class="shadow text-center card category-card">
                            <h3>@so.Adress - @so.CountyName</h3>
                            <h4>@so.CurrentPrice kr</h4>
                            <img src="@so.AgencyLogoUrl" width="90" class="logo" />
                            @foreach (var picture in so.ImageLinks)
                            {
                                <img src="@picture" width="200" />
                            }

                            <Button Color="ButtonColor.Info">
                                <a href="/info/SalesObject/@so.Id" @onclick="() => NavigateToSalesObject(so.Id)" class="custom-link">Kolla annons</a>
                            </Button>

                        </div>

                    }
                }
                else
                {
                    <p>@error</p>

                }

            }
        }
    </div>
}

@code {
    [Parameter]
    public string? ObjectType { get; set; }
    [Parameter]
    public string ObjectStringId { get; set; }
    [Parameter]
    public int ObjectId { get; set; }
    public object? ObjectToShow { get; set; }

    private List<SalesObjectDTO> RealtorsSales;
    private List<RealtorDTO> AgencyRealtors;
    private List<SalesObjectDTO> CountiesSalesObjects;
    private List<SalesObjectDTO> CategorySalesObjects;

    public string CountyName;
    public RealtorDTO Realtor;
    public SalesObjectDTO SalesObjectDTO;

    public string error = "";

    private async Task GetObjects()
    {
        if (ObjectType == "Realtor")
            ObjectToShow = await realtorService.GetRealtorByIdAsync(ObjectStringId);
        else if (ObjectType == "SalesObject")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);
            ObjectToShow = await salesService.Get(ObjectId);
            StateHasChanged();
            SalesObjectDTO = (SalesObjectDTO)ObjectToShow;
            StateHasChanged();
            Realtor = await realtorService.GetRealtorByIdAsync(SalesObjectDTO.RealtorId);
            StateHasChanged();

        }
        else if (ObjectType == "Category")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);
            ObjectToShow = await categoryService.GetCategoryByIdAsync(ObjectId);
            await GetCategorySales(ObjectId);
        }
        else if (ObjectType == "County")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);
            ObjectToShow = await countyService.GetCountyByIdAsync(ObjectId);
        }
        else if (ObjectType == "Agency")
        {
            ObjectId = Convert.ToInt16(ObjectStringId);

            ObjectToShow = await agencyService.GetAgencyByIdAsync(ObjectId);
            AgencyRealtors = await agencyService.GetRealtorsAtAgency(ObjectId);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetObjects();
    }

    /* Get & Hide List of Realtors Salesobjects */
    private async Task GetRealtorsSales()
    {
        RealtorsSales = await salesService.GetAllByRealtor(ObjectStringId);
        StateHasChanged();
    }
    private async Task HideRealtorsSales()
    {
        RealtorsSales = null;
        StateHasChanged();
    }

    /* Get & Hide List of County Salesobjects */
    private async Task GetCountySales()
    {
        CountiesSalesObjects = await salesService.GetSalesByCounty(CountyName);
        StateHasChanged();
        if (CountiesSalesObjects.Count <= 0)
        {
            error = "Inga annonser i denna kommun.";
        }
        StateHasChanged();
    }
    private async Task HideCountySales()
    {
        CountiesSalesObjects = null;
        StateHasChanged();
    }

    /* Get & Hide List of Category Salesobjects */
    private async Task GetCategorySales(int id)
    {
        CategorySalesObjects = await salesService.GetSalesByCategory(id);
        StateHasChanged();
        if (CategorySalesObjects.Count <= 0)
        {
            error = "Inga annonser i denna kommun.";
        }
        StateHasChanged();
    }
    // private async Task HideCategorySales()
    // {
    //     CategorySalesObjects = null;
    //     StateHasChanged();
    // }

    /* Re-Navigates to InfoPage of choosen Object */
    private async void NavigateToRealtor(string realtorId)
    {
        ObjectType = "Realtor";
        ObjectStringId = realtorId;
        ObjectToShow = await realtorService.GetRealtorByIdAsync(realtorId);
        RealtorsSales = null;
        StateHasChanged();
        NavigationManager.Refresh();

    }
    private async void NavigateToAgency(int agencyId)
    {
        ObjectType = "Agency";
        ObjectId = agencyId;
        ObjectToShow = await agencyService.GetAgencyByIdAsync(agencyId);
        AgencyRealtors = await agencyService.GetRealtorsAtAgency(agencyId);
        StateHasChanged();
        NavigationManager.Refresh();

    }
    private async void NavigateToSalesObject(int salesId)
    {
        ObjectType = "SalesObject";
        ObjectId = salesId;
        ObjectToShow = await salesService.Get(salesId);
        StateHasChanged();
        NavigationManager.Refresh();
    }

}
